#Recipes {
    text-align: center;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: pink;
}
body {
    background-color: rgb(235, 193, 200);
}